<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
<%= friend_btn(@user) %>
      <%= friend_accept(@user) %>





</section>

  <h3>Pending invitations</h3>
  <% @pending_invitations.uniq.each do |invitation| %>
  <ul></ul>
  <li><%= invitation.name%></li>
  
  </ul>
  <% end %>
